{% extends "swu/base.html" %}{% load static %}

{% block title %}STAR WARS{% endblock %}

{% block menu_home %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="flex-center">
                <div class="char">
                    <img src="{{ family.0.image.url }}"
                         class="img-circle img-thumbnail img-responsive" alt="{{ family.0.name }}" height="200" width="200">
                    <h4 class="text-center">{{ family.0.name }}</h4>
                </div>
                <div class="char">
                    <img src="{{ family.1.image.url }}"
                         class="img-circle img-thumbnail img-responsive" alt="{{ family.1.name }}" height="200" width="200">
                    <h4 class="text-center">{{ family.1.name }}</h4>
                </div>
                <div class="char">
                    <img src="{{ family.2.image.url }}"
                         class="img-circle img-thumbnail img-responsive " alt="{{ family.2.name }}" height="200" width="200">
                    <h4 class="text-center">{{ family.2.name }}</h4>
                </div>
                <div class="char">
                    <img src="{{ family.3.image.url }}"
                         class="img-circle img-thumbnail img-responsive" alt="{{ family.3.name }}" height="200" width="200">
                    <h4 class="text-center">{{ family.3.name }}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="flex-center">
                <div class="char">
                    <img src="{{ family.4.image.url }}"
                         class="img-circle img-thumbnail img-responsive " alt="{{ family.4.name }}" height="200" width="200">
                    <h4 class="text-center">{{ family.4.name }}</h4>
                </div>
                <div class="empt"></div>
                <div class="char">
                    <img src="{{ family.5.image.url }}"
                         class="img-circle img-thumbnail img-responsive " alt="{{ family.5.name }}" height="200" width="200">
                    <h4 class="text-center">{{ family.5.name }}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="flex-center">
                <div class="char">
                    <img src="{{ family.6.image.url }}"
                         class="img-circle img-thumbnail img-responsive " alt="{{ family.6.name }}" height="200" width="200">
                    <h4 class="text-center">{{ family.6.name }}</h4>
                </div>
                <div class="char">
                    <img src="{{ family.7.image.url }}"
                         class="img-circle img-thumbnail img-responsive " alt="{{ family.7.name }}" height="200" width="200">
                    <h4 class="text-center">{{ family.7.name }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}