{% extends "swu/base.html" %}{% load static %}

{% block title %}STAR WARS{% endblock %}

{% block menu_requests %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if requests %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Time</th>
                                <th>Level</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for req in requests %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ req.time }}</td>
                                    <td>{{ req.level }}</td>
                                    <td>{{ req.message }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No logs</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}